{% extends 'base.html.twig' %}

{% block title %}New Progression{% endblock %}

{% block body %}
    <h1>Create new Progression</h1>

    {{ include('progression/_form.html.twig') }}

    <a href="{{ path('app_progression_index') }}">back to list</a>
{% endblock %}
