{{ form_start(form,{'attr': {'id': 'form_position_ajout'}}) }}
    {{ form_widget(form) }}
    <button class="btn btn-xs btn-success">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
